.blue
{
    color: aqua;
}
.red
{
    color: tomato;
}
.yellow{
    color: yellow;
}
.green
{
    color: green;
}
.upload_form
{
    border-radius: 6px;
    padding: 16px;
    font-size: 14px;
    background-color: #f6f8fa;
    border: 1px solid #d8ded4;
}
.upload_form{
    margin-top: 2rem;
}
.image
{
    width: 95%;
    float: left;
}
.img_main_block{
    display: inline-flex;
    width:100% ;
}
.img_blk{
    width: 80%;
}