{% extends "Layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
{% for img in addresses %}

<div class="img_main_block">
    <div class="img_blk">
        <img src="{{img[3]}}" alt="{{img[2]}}" class="image">
    </div>
    <div style="text-align: left;padding-top: 1rem;">
        <div>
            <h3>Photographer :</h3>
            {{img[1]}}
        </div>
        <hr>
        <div>
            <h3>Discription :</h3>
            {%for p in img[2]%}
                <p>{{p}}</p>
            {%endfor%}
        </div>
    </div>
</div>
<hr>
{% endfor %}
{% endblock %}